* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
}
header li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 2rem;
  font-weight: 500;
}
header a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  padding: 3rem 4rem;
}
.hero-image {
  width: 100%;
}
.hero-text {
  flex: 1;
}
.hero-image-container {
  flex: 1;
}
.hero-text > * {
  margin-bottom: 2rem;
}
h1 {
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 800;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.input-container {
  display: flex;
}
.input-container button {
  margin-left: 1rem;
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: hsl(224, 93%, 58%);
  padding: 0.7rem 4rem;
  border-radius: 0.2rem;
}
button:hover {
  background-color: hsl(224, 85%, 65%);
}
.input-container input {
  padding: 0.7rem 7rem 0.7rem 0.7rem;
  border-radius: 0.2rem;
}
.testimonial {
  display: flex;
  align-items: center;
  background-color: hsl(240, 75%, 98%);
  padding: 3rem 4rem 8rem 4rem;
}
.testimonial-text {
  flex: 1;
}
.testimonial-link a {
  text-decoration: none;
}
.testimonial-link a:hover {
  color: hsl(170, 49%, 60%);
}

.testimonial-image-container {
  flex: 1;
}
.testimonial-image-container img {
  width: 100%;
}
.testimonial a {
  color: hsl(170, 45%, 43%);
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 0.3rem;
}
.avatar-container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.avatar-container img {
  height: 100%;
  margin-right: 1rem;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-text * {
  margin: 0;
}
.profile-text p {
  font-size: 0.7rem;
}
.section-1 {
  margin-bottom: 4rem;
}
.section-2 {
  width: 60%;
  border-radius: 1rem;
  box-shadow: 0px 1px 5px rgb(189, 188, 188);
  padding: 1rem 2rem 2rem 2rem;
  background-color: white;
}
.section-2-testimonial-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.background {
  height: 4.5rem;
  background-image: url(./images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
}
.signup {
  display: flex;
  align-items: center;
  background-color: hsl(238, 22%, 44%);
}
.signup-text {
  flex: 1;
  padding: 5rem 4rem;
}
.signup-text p {
  color: rgb(202, 201, 201);
}
.signup-form {
  flex: 1;
  padding: 5rem 4rem;
}
.signup-form button {
  border: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: hsl(224, 93%, 58%);
  padding: 0.8rem 2rem;
  border-radius: 0.2rem;
  box-shadow: 1px 2px 5px rgb(70, 70, 70);
}
button:hover {
  background-color: hsl(224, 85%, 65%);
  cursor: pointer;
}
.signup-form input {
  border: none;
  padding: 0.7rem 7rem 0.7rem 0.7rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}
h2 {
  color: rgb(237, 237, 237);
}
footer {
  color: white;
  background-color: hsl(243, 87%, 12%);
  padding: 5rem 4rem;
}
footer * {
  margin-bottom: 1rem;
}
.footer-nav-container {
  display: flex;
  justify-content: space-between;
}
footer li {
  list-style: none;
}
footer li:hover {
  color: hsl(224, 92%, 61%);
  cursor: pointer;
}
footer ul {
  margin: 0;
  padding: 0;
}
.phone,
.email {
  display: flex;
  align-items: center;
}
.phone-icon,
.email-icon {
  margin-right: 1rem;
}
footer a {
  text-decoration: none;
  color: rgb(223, 223, 223);
}
.fa-facebook,
.fa-twitter {
  margin-right: 1rem;
}
